/* nav links */
.nav-link {
    color: #2e944b; /* Green color */
}

.nav-link.active {
    color: #2e944b62; /* Green color */
}

/* normal (not hover) color for nav-link */
.nav-tabs .nav-item button.nav-link {
    color: #2e944b !important;
}
 
/* Hover-effect for nav-link */
.nav-tabs .nav-item button.nav-link:hover {
    color: #2e944b62 !important;
}

/* colors for accordion */
.accordion-flush .accordion-button:focus {
    box-shadow: none;
    background-color: white;
    font-weight: bold;
  }

.accordion-flush .accordion-button {
    font-weight: bold;
}
