/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 50%;
    horizontal-align: middle;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

h5 {
    margin-top: 1rem;
}

/* nav links */
.nav-link {
    color: #2e944b; /* Green color */
}

.nav-link.active {
    color: #2e944b62; /* Green color */
}

/* Normaler (nicht-hover) Zustand für nav-link */
.nav-tabs .nav-item button.nav-link {
    color: #2e944b !important;
}
 
/* Hover-Effekt für nav-link */
.nav-tabs .nav-item button.nav-link:hover {
    color: #2e944b62 !important;
}
