{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Filter and Search Section: Container for filtering options and search functionality -->
    <div class="container text-center">
        <div class="row align-items-start">
            <!-- Filters Column: Form for applying various filters such as date, time, room size, and location -->
            <div class="col" style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; margin-top: 15px;">
                <form action="{{ url_for('home') }}" method="post" novalidate>
                    <!-- Filter by date: Input field for selecting the date -->
                    <label for="start" class="form-label" style="margin-top: 10px; font-weight: bold;">Date:</label>
                    <input type="date" class="form-control" name="filter_date" value="{{ filter_date }}" min="{{ min_date }}" max="{{ max_date }}" required>

                    <!-- Filter by start time: Input field for selecting the start time -->
                    <label for="start_time" class="form-label" style="margin-top: 10px; font-weight: bold;">From:</label>
                    <input type="time" class="form-control" name="filter_time" value="{{ filter_time }}" min="{{ min_time }}" max="{{ max_time }}" required>

                    <!-- Filter by end time: Input field for selecting the end time -->
                    <label for="start_time" class="form-label" style="margin-top: 10px; font-weight: bold;">To:</label>
                    <input type="time" class="form-control" name="filter_end_time" value="{{ filter_end_time }}" min="{{ min_end_time }}" max="{{ max_end_time }}" required>

                    <!-- Enter nearest room for routing directions: Dropdown menu for selecting the nearest room -->
                    <label for="start_location" class="form-label" style="margin-top: 10px; font-weight: bold;">My location:</label>
                    <select class="form-select" aria-label="Default select example" id="start_location" name="start_location">
                        <option selected>Select nearest room</option>
                        {% for index, row in rooms_df.iterrows() %}
                            <option value="{{ row['room_nr'] }}">{{ row['room_nr'] }}</option>
                        {% endfor %}
                    </select>

                    <!-- Select by size: Input field for entering the maximum room size -->
                    <label for="validationCustom01" class="form-label" style="margin-top: 10px; font-weight: bold;">Max. Room Size:</label>
                    <input type="text" class="form-control" name="filter_size" value="{{ filter_size if not filter_size_is_inf else '' }}" required>

                    <!-- Submit the form: Button to submit the filter form -->
                    <div class="col">
                        <button class="btn btn-success" type="submit" onclick="" name="button_filter_size" style="margin-top: 20px; width: 100px;">Search</button>
                    </div>
                </form>

                <!-- Clear Filters Button: Form for clearing all filters and resetting the search -->
                <form action="{{ url_for('clear_filters') }}" method="post">
                    <button type="submit" class="btn btn-outline-secondary" style="margin-top: 10px; width: 100px;">Clear</button>
                </form>
            </div>

            <!-- Rooms Column: Container for displaying filtered rooms based on user preferences -->
            <div class="col-12 col-sm-9">
                <!-- Room Type Filters: Navigation tabs for filtering rooms by type (e.g., Lecture rooms, Group study rooms) -->
                <div name="filter_room_type" style="margin: 15px;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link active filter-btn" type="button" onclick="toggleFilter(this)" name="filter_all_rooms">All rooms</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link filter-btn" type="button" onclick="toggleFilter(this)" name="filter_lecture_rooms">Lecture rooms</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link filter-btn" type="button" onclick="toggleFilter(this)" name="filter_group_rooms">Group study rooms</button>
                        </li>
                    </ul>
                </div>

                <!-- Display Filtered Rooms: Display cards for each room matching the applied filters -->
                {% if filter_applied %}
                    {% for index, row in rooms_df.iterrows() %}
                        <div class="card" style="margin: 15px;">
                            <!-- Card Header: Display room type and number -->
                            <div class="card-header" style="font-weight: bold;">
                                {{ row['infoUrlText'] if row['infoUrlText'] == 'Group meeting room' else row['name'] }}: {{ row['room_nr'] }}
                            </div>

                            <!-- Card Body: Display room details and availability information -->
                            <div class="card-body d-flex flex-column justify-content-between" style="padding: 15px;">
                                <div class="row">
                                    <!-- Column 1: Display room size, free until, and next event information -->
                                    <div class="col border-end border-gray" style="text-align: left;">
                                        <p class="card-text">
                                            <!-- Display number of seats if available-->
                                            {% if row['seats'] == None %}
                                                Capacity: -
                                            {% else %}
                                                Capacity: {{ row['seats'] }}
                                            {% endif %}
                                        </p>
                                        <p class="card-text">
                                            {% if row['start_time'].strftime('%Y-%m-%d %H:%M:%S') != '1970-01-01 00:00:00' %}
                                                Free until: {{ row['start_time'].strftime('%H:%M') }}
                                            {% endif %}
                                        </p>
                                        <p class="card-text">
                                            {% if row['infoUrlText'] != 'Group meeting room'%}
                                                {% if row['start_time'].strftime('%Y-%m-%d %H:%M:%S') != '1970-01-01 00:00:00' %}
                                                    Next Event: {{ row['subject'] }} ({{ row['start_time'].strftime('%H:%M') }} - {{ row['end_time'].strftime('%H:%M') }})
                                                {% else %}
                                                    {{ row['subject'] }}
                                                {% endif %}
                                            {% else %} 
                                                <p>Unfortunately, we aren't able to share availability data for group meeting rooms at the moment. Please use the "Reserve" button 
                                                    to view availability and reserve group meeting rooms. Click on "Details" to access the map.
                                                </p>    
                                            {% endif %}    
                                        </p>
                                    </div>

                                    <!-- Column 2: Provide details and reserve buttons -->
                                    <div class="col-md-3 text-center d-flex flex-column align-items-center">
                                        <p class="card-text" style="padding-bottom: 10px;">
                                            <!-- Column 5: More Details Button -->
                                            {% if row['infoUrlText'] != 'Group meeting room'%}
                                                <button class="btn btn-success" type="button" onclick="redirectToRoomDetails('{{ row['room_nr'] }}')" style="width: 100px; margin-top: 15px;">Details</button>
                                            {% else %}
                                                <div>
                                                    <button class="btn btn-success" type="button" onclick="redirectToRoomDetails('{{ row['room_nr'] }}')" style="width: 100px;">Details</button> 
                                                </div>
                                                <div>
                                                    <a href="https://apps.unisg.ch/gmr/#" class="btn btn-outline-success" style="width: 100px; margin-top: 10px;">Reserve</a>
                                                </div>   
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <!-- Display Logo upon new session load -->
                    <div class="col text-center">
                        <img src="static\Logo.jpg" alt="Logo" class="mx-auto">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function redirectToRoomDetails(roomNr) {
            window.location.href = '/map?room_nr=' + roomNr;
        }
    </script>
{% endblock %}
