{% extends 'layout.html' %}



{% block title %}
Home
{% endblock %}



{% block main %}
    
    
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <h3>Looking for an empty room?</h3>
                <p>Fill out the form or select your favorite room from the dropdown menu! </p>
            </div> 
        </div>
      </div>

    <div class="container px-4 text-start">
        <div class="row gx-5">
            <div class="col-8" >
             <div class="p-3">
                <form class="row g-2 needs-validation" action="" method="post" novalidate>
  
                    <!-- Filter by size -->
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Number of people?</label>
                        <input type="text" class="form-control" name="filter_size" value="" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
        
                    <!-- Select start time from options. COULD WE HAVE THE USER INPUT AND JUST VALIDATE THAT THE INPUT IS OK? -->    
                    <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">Start Time</label>
                        <div class="input-group has-validation">
                            <select class="form-select" aria-label="Large select example" name="filter_time" required>
                                <option selected>hh:mm</option>
                                <option value="08:15">08:15</option>
                                <option value="10:15">10:15</option>
                                <option value="12:15">12:15</option>
                                <option value="14:15">14:15</option>
                                <option value="16:15">16:15</option>
                                <option value="18:15">18:15</option>
                                <option value="20:15">20:15</option>
                            </select>
                            <div class="invalid-feedback">
                            Please select a start time.
                            </div>
                        </div>
                    </div>
        
                    <!-- Select end time from options. COULD WE HAVE THE USER INPUT AND JUST VALIDATE THAT THE INPUT IS OK? -->    
                    <div class="col-md-4">
                        <label for="validationCustomUsername" class="form-label">End Time</label>
                        <div class="input-group has-validation">
                            <select class="form-select" aria-label="Large select example" name="filter_end_time" required>
                                <option selected>hh:mm</option>
                                <option value="08:15">08:15</option>
                                <option value="10:15">10:15</option>
                                <option value="12:15">12:15</option>
                                <option value="14:15">14:15</option>
                                <option value="16:15">16:15</option>
                                <option value="18:15">18:15</option>
                                <option value="20:15">20:15</option>
                            </select>
                            <div class="invalid-feedback">
                            Please select a start time.
                            </div>
                        </div>
                    </div>
                        
                    <!-- Filter by availability -->
                    <div class="col-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="filter_available" required>
                            <label class="form-check-label" for="filter_available">
                            Only show available rooms
                            </label>
                        </div>
                        </div>
        
        
                    <!-- Submit the form -->
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit" name="button_filter_size">Show me empty rooms!</button>
                        </div>
                </form>
               </div>
          </div>

          <!--Drop down to select your favorite room-->
          <div class="col-4">
            <div class="p-3">
                <label for="validationCustom01" class="form-label">Select a room to view availability.</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select a room</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
          </div>
        </div>
      </div>



    {% for index, room_nr, size, start_time, end_time, subject, start_time_only, end_time_only in rooms_df.itertuples() %}
        <div style="width: 500px; border: 2px solid grey; padding-left: 50px; padding-top: 20px; padding-bottom: 20px; margin-top: 20px;">
            <h5>Room: {{ room_nr }}</h5>
            <h6>Size: {{ size }}</h6>
            <h6>{{ start_time.strftime(format="%H:%M") }} - {{ end_time.strftime(format="%H:%M") }}</h6>
                <ul>
                    <li>
                        {{ subject }}
                    </li>
                </ul>
        </div>
    {% endfor %}

{% endblock %}