{% extends 'layout.html' %}

{% block title %}
Map
{% endblock %}



{% block main %}

<body>
  <!-- Content Container: Container for the entire content, providing padding and left alignment -->
  <div class="container" style="padding: 20px; text-align: left;">
      <!-- Back to Overview Button: Button to navigate back to the overview page -->
      <a href="/" class="btn btn-outline-secondary" style="width: 200px;">Back to Overview</a>
  </div>

  <!-- Card Section: Section containing a Bootstrap card with relevant information -->
  <div class="card" style="margin-left: 20px;">
      <!-- Card Header: Bold header displaying the room number (placeholder text) -->
      <div class="card-header" style="font-weight: bold;">
        Room: {{ room_nr }}
      </div>

      <!-- Card Body: Flex-column layout for card body content with padding -->
      <div class="card-body d-flex flex-column justify-content-between" style="padding: 10px;">

        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSchedule" aria-expanded="false" aria-controls="flush-collapseOne">
                Schedule:&nbsp;&nbsp;{{ date }}
              </button>
            </h2>
            <div id="flush-collapseSchedule" class="accordion-collapse show" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <!-- Booking Schedule Section: Row displaying booking schedule information -->
                
                <!-- Check if the room schedule is empty -->
                {% if room_schedule_df.empty %}
                <!-- No scheduled events: Display a message indicating no events scheduled -->
                <p class="card-text">Currently, no scheduled events or classes in Room {{ room_nr }}</p>
                {% else %}
                <!-- Display schedule in a table: Display a table with event details -->
                <div class="table-responsive">       
                  <table class="table">
                    <thead>  
                      <tr>
                        <th class="col-sm-2">Time</th>
                        <th class="col-sm-8">Occupancy</th>
                        <th class="col-sm-2">Book</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for index, row in room_schedule_df.iterrows() %}
                      <tr>
                        <td>{{ row['startTime'].strftime('%H:%M') }} - {{ row['endTime'].strftime('%H:%M') }}</td>
                        {% if row['course'] == '-' %}
                          {% if row['booking_count'] != 0 %}
                            <td><img src="static/icon.png" alt="Icon" style="width: 33px; height: 33px;"> {{ row['booking_count'] | int }}</td>
                            {% else %}
                            <td>-</td>
                          {% endif %}
                        {% else %}
                          <td>{{ row['course'] }}</td>
                        {% endif %}
                        <td>
                          {% if row['course'] == '-' %}
                            <!-- Default button -->
                            <form action="/book_room" method="post">
                              <input type="hidden" name="room_nr" value="{{ room_nr }}">
                              <input type="hidden" name="time_slot" value="{{ row['startTime'].strftime('%H:%M') }}">
                              <button type="submit" class="btn btn-outline-success">Book</button>
                            </form>                          
                          {% else %}
                            <button class="btn btn-outline-secondary" disabled style="width: 100px;border-color: white;">-</button>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          
          <!-- Equipment Section: Row displaying equipment information -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEquipment" aria-expanded="false" aria-controls="flush-collapseOne">
                    Equipment
                  </button>
                </h2>
                <div id="flush-collapseEquipment" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    {% if equipment == None %}
                    <div>
                      No information available.
                    </div>
                    {% elif equipment|length == 0 %}
                    <div>
                      No information available.
                    </div>
                    {% else %}
                    <ul>
                      {% for item in equipment %}
                      <li style="font-weight: 300;">{{ item }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRoute" aria-expanded="false" aria-controls="flush-collapseOne">
                      Route
                    </button>
                  </h2>
                  <div id="flush-collapseRoute" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <!-- Embed the iframe for Route Section: Row displaying route information with an embedded iframe -->
                    <div style="position: relative; overflow: hidden; width: 100%; padding-top: 177%;"> <!-- Aspect Ratio Box -->
                      <iframe src="{{ iframe_url }}" 
                              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                              frameborder="0" 
                              marginheight="0" 
                              marginwidth="0" 
                              scrolling="no">
                      </iframe>
              </div>
            </div>
          </div>

        </div>

  </div>

  <style>
    .table td, .table th {
        vertical-align: middle;
        height: 50px;
    }

    /* Alternative button styling for smaller screens */
    .alternative-btn {
        display: none; /* Initially hide the alternative button */
        font-size: 10.5px;
        width: 40px;
        padding: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 4px;
    }

    /* Media query for screens with width up to 350 pixels */
    @media screen and (max-width: 350px) {
        /* Adjust the styling for smaller screens */
        th {
            font-size: 12px;
            padding-bottom: 0px;
        }

        td {
          font-size: 10.5px;
        }

        /* Hide the default button on smaller screens */
        .btn {
            display: none;
        }

        /* Show the alternative button on smaller screens */
        .alternative-btn {
            display: inline-block;
        }

        .table td:first-child {
            width: 50px; /* Adjust the width of the first column */
        }
    }

    /* Media query for screens with width greater than 350 pixels */
    @media screen and (min-width: 351px) {
        /* Show the default button on wider screens */
        .btn {
            display: inline-block;
        }

        /* Hide the alternative button on wider screens */
        .alternative-btn {
            display: none;
        }
    }
  </style>
</body>
</html>
{% endblock %}