{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Filter and Search Section: Container for filtering options and search functionality -->
    <div class="container text-center">
        <div class="row align-items-start">
            <!-- Filters Column: Form for applying various filters such as date, time, room size, and location -->
            <div class="col" style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; margin-top: 15px;">
                <form action="{{ url_for('home') }}" method="post" novalidate>
                    <!-- Filter by date: Input field for selecting the date -->
                    <label for="start" class="form-label" style="margin-top: 10px; font-weight: bold;">Date:</label>
                    <input type="date" class="form-control" name="filter_date" value="{{ filter_date }}" min="{{ min_date }}" max="{{ max_date }}" required>

                    <!-- Filter by start time: Input field for selecting the start time -->
                    <label for="start_time" class="form-label" style="margin-top: 10px; font-weight: bold;">From:</label>
                    <input type="time" class="form-control" name="filter_time" value="{{ filter_time }}" min="{{ min_time }}" max="{{ max_time }}" required>

                    <!-- Filter by end time: Input field for selecting the end time -->
                    <label for="start_time" class="form-label" style="margin-top: 10px; font-weight: bold;">To:</label>
                    <input type="time" class="form-control" name="filter_end_time" value="{{ filter_end_time }}" min="{{ min_end_time }}" max="{{ max_end_time }}" required>

                    <!-- Enter nearest room for routing directions: Dropdown menu for selecting the nearest room -->
                    <label for="start_location" class="form-label" style="margin-top: 10px; font-weight: bold;">My location:</label>
                    <select class="form-select" aria-label="Default select example" id="start_location" name="start_location">
                        <option disabled selected>Select nearest room</option>
                        {% for index, row in rooms_df.sort_values(by='room_nr').iterrows() %}
                            <option value="{{ row['room_nr'] }}">{{ row['room_nr'] }}</option>
                        {% endfor %}
                    </select>

                    <!-- Select by size: Input field for entering the maximum room size -->
                    <label for="validationCustom01" class="form-label" style="margin-top: 10px; font-weight: bold;">Max. Room Size:</label>
                    <input type="text" class="form-control" name="filter_size" value="{{ filter_size if not filter_size_is_inf else '' }}" required>

                    <!-- Submit the form: Button to submit the filter form -->
                    <div class="col">
                        <button class="btn btn-success" type="submit" onclick="" name="button_filter_size" style="margin-top: 20px; width: 100px;">Search</button>
                    </div>
                </form>

                <!-- Clear Filters Button: Form for clearing all filters and resetting the search -->
                <form action="{{ url_for('clear_filters') }}" method="post">
                    <button type="submit" class="btn btn-outline-secondary" style="margin-top: 10px; width: 100px;">Clear</button>
                </form>
            </div>

            <!-- Rooms Column: Container for displaying filtered rooms based on user preferences -->
            <div class="col-12 col-sm-9">
                <!-- Room Type Filters: Navigation tabs for filtering rooms by type (e.g., Lecture rooms, Group study rooms) -->
                <div name="filter_room_type" style="margin: 15px;">
                    <ul class="nav nav-tabs flex-column flex-sm-row">
                        <li class="nav-item col-12 col-sm-auto">
                            <button class="nav-link filter-btn" type="button" onclick="redirectToHome()" name="filter_all_rooms">All rooms</button>
                        </li>
                        <li class="nav-item col-12 col-sm-auto">
                            <button class="nav-link filter-btn" type="button" onclick="redirectToHome()" name="filter_lecture_rooms">Lecture rooms</button>
                        </li>
                        <li class="nav-item col-12 col-sm-auto">
                            <button class="nav-link filter-btn" type="button" onclick="redirectToHome()" name="filter_group_rooms">Group study rooms</button>
                        </li>
                        <li class="nav-item col-12 col-sm-auto">
                            <button class="nav-link active filter-btn" type="button" onclick="redirectToSeatfinder()">Study Zones</button>
                        </li>
                    </ul>
                </div>

                    <!-- Display Filtered Rooms: Display cards for each room matching the applied filters -->
                    {% for index, row in seatfinder_df.iterrows() %}
                        <div class="card" style="margin: 15px;" data-room-type="{{ row['infoUrlText'] if row['infoUrlText'] == 'Group meeting room' else row['name'] }}">
                            <!-- Card Header: Display room type and number -->
                            <div class="card-header" style="font-weight: bold;">
                                {{ index }}
                            </div>

                            <!-- Card Body: Display room details and availability information -->
                            <div class="card-body d-flex flex-column justify-content-between" style="padding: 15px; margin-top: 5px;">
                                <div class="row">
                                    <div class="col-md-3 text-center d-flex flex-column align-items-center border-end border-gray" style="padding-top: 3px;">
                                        <!-- Column 1: Display room size, free until, and next event information -->
                                        {% if row['free'] == "-" %}
                                            <p class="card-text">
                                                No information available.
                                            </p>
                                        {% else %}                                    
                                            <p class="card-text">
                                                Occupancy: {{ row['occupied'] }} / {{ row['free'] + row['occupied']}}
                                            </p>
                                        {% endif %}                                    
                                    </div>
                                    <!-- Availability Bar -->
                                    <div class="col" style="display: flex; align-items: center; height: 35px; margin-left: 10px; margin-right: 10px;">
                                        <div style="flex-grow: {{ row['occupied'] }}; flex-basis: 0; height: 20px; background-color: #a3291e; border-top-left-radius: 5px; border-bottom-left-radius: 5px;"></div>
                                        <div style="flex-grow: {{ row['free'] }}; flex-basis: 0; height: 20px; background-color: #2e944b; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"></div>
                                    </div>
                                    <!-- Column 2: Provide details and reserve buttons -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function redirectToHome() {
            window.location.href = '/';
        }
        function redirectToSeatfinder() {
            window.location.href = '/seatfinder';
        }
        function toggleFilter(clickedButton) {
            // Remove 'active' class from all filter buttons and ensure 'nav-link' class is present
            var filterButtons = document.querySelectorAll('.filter-btn');
            filterButtons.forEach(function(button) {
                button.classList.remove('active');
                button.classList.add('nav-link');
            });

            // Add the 'active' class to the clicked button
            clickedButton.classList.add('active');

            // Get the filter type from the button's name attribute
            var filterType = clickedButton.name.replace('filter_', '');

            // Convert filter type to the corresponding room type text
            var roomTypeText;
            if (filterType === 'all_rooms') {
                roomTypeText = '';
            } else if (filterType === 'lecture_rooms') {
                roomTypeText = 'Unterrichtsraum';
            } else if (filterType === 'group_rooms') {
                roomTypeText = 'Group meeting room';
            }

            // Get all cards
            var cards = document.querySelectorAll('.card');

            // Loop through the cards and show/hide based on the filter
            cards.forEach(function(card) {
                // Check if the card matches the filter type
                if (filterType === 'all_rooms' || card.getAttribute('data-room-type') === roomTypeText) {
                    card.style.display = ''; // Show the card
                } else {
                    card.style.display = 'none'; // Hide the card
                }
            });
        }
        </script>        
{% endblock %}
